html { font-size: 10px; }

body { font-family: "Roboto","Noto Sans KR"; font-size: 1.6rem; }

#header { position: fixed; width: 100%; height: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; color: #fff; z-index: 9; overflow: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

#header:before { content: ''; display: block; width: 100%; height: 1px; background-color: #d9d9d9; position: absolute; top: 100px; opacity: 0; pointer-events: none; }

#header.on { height: 400px; background-color: #fff; -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); color: #111; }

#header.on:before { opacity: 0.5; -webkit-transition: all 0 ease 0.15s; transition: all 0 ease 0.15s; }

#header.on #logo a .color { opacity: 1; }

#header.on #logo a .white { opacity: 0; }

#header.on .btnAll span { background-color: #111; }

#header.on #gnb .circle { opacity: 1; }

#header #logo { margin-left: 50px; }

#header #logo a { display: block; height: 100px; position: relative; }

#header #logo a img { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

#header #logo a img.color { opacity: 0; }

#header #gnb .list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; }

#header #gnb .list .depth01 { display: block; height: 100px; line-height: 100px; font-size: 1.8rem; font-weight: 500; padding: 0 50px; }

#header #gnb .list .depth02 { padding: 20px 0; }

#header #gnb .list .depth02 li a { display: block; padding: 10px 0; }

#header #gnb .circle { display: block; width: 8px; height: 8px; border-radius: 100%; background-color: #f00; position: absolute; left: 50%; top: 100px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); opacity: 0; -webkit-transition: opacity 0.25s ease; transition: opacity 0.25s ease; pointer-events: none; }

#header .btnAll { width: 100px; height: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .btnAll span { display: block; width: 30px; height: 3px; margin: 4px 0; background-color: #fff; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

#footer { background-color: #fff; padding: 50px 0; text-align: center; font-size: 1.4rem; }

#footer p { margin: 15px 0; opacity: 0.5; }

#footer .privacy { opacity: 1; }

#footer .privacy a { font-weight: 700; }

#footer .copyright { opacity: 1; }
